@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700,800');
*{
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: "Poppins", sans-serif;
  text-align: center;
}
header{
  height: 50vh;
  background-color: #383877;
  color: white;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
nav ul li{
  display: inline-block;
  margin: 10px;
}
main{
  height: 40vh;
  color: #383838;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
footer{
  height: 10vh;
  color: white;
  flex-direction: column;
  display: flex;
  justify-content: center;
  background-color: #8a8abc;
}
